{% extends 'layout.html' %}

{% block title %}Yotuber Site| Home{% endblock %}

{% block head %}
<style>
    li {
        text-align: center;
        width: 200px;
        border: 1px solid #000;
        display: -moz-inline-stack;
        display: inline-block;
        vertical-align: top;
        margin: 1.5%;
        zoom: 1;
        *display: inline;
    }
</style>
{% endblock %}

{% block content %}
<h1>All videos</h1>
<div id="videoList">
  <ul>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
    <li>
      <h3>Hello</h3>
      <p>Cool video bro</p>
      <img width="100%" src="http://img.youtube.com/vi/BPc_IK1h5C0/maxresdefault.jpg"></img>
    </li>
  </ul>
</div>
{% endblock %}