/* I hate css */

.titlebar {
	position: relative;
	width: 100%;
	display: box;
	color: #ccc;
	background-color: #333;
}

.titlebar > h1 {
	margin: 0;
	padding: 1%;
	color: #ccc;
}

.titlebar > .search {
	padding: 1%;
}

.search > #search-box {
	border: none;
	height: 100%;
}

.left {
	float: left;
}

.right {
	float: right;
}

.center {
	float: center;
}

* {
	box-sizing: border-box;
}

html {
	background-color: #EBEBEBFF;
	font-family: Helvetica, Arial ,sans-serif;
	color: #3F3F3F;
}

html, body {
	padding: 0;
	margin: 0;
}

.vid-item {
    text-align: center;
    width: 200px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
    padding: 0.2%;
    zoom: 1;
    *display: inline;
    border-radius: 5px;
    transition-duration: 0.5s;
  	transition-timing-function: ease-out;
}
.vid-item:hover {
	box-shadow: 0px 0px 10px #797979;
}

a, a:visited, a:hover, a:active {
	color: #3F3F3F;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: bold;
	color: #1D1D1D;
}

button {
	border-width: 0px;
	border-radius: 0px;
	background-color: #4C4C4C;
	color: #E6E6E6;
	padding: 10px 15px;
	font-family: Helvetica, Arial, sans-serif;
}
#loadBtn {
	font-weight: bold;
	font-size: 1.2em;
	width: 100%;
	transition-duration: 0.25s;
  	transition-timing-function: ease-out;
}
#loadBtn:hover {
	background-color: #303030;
	color: #FDFDFD;
	padding-top: 20px;
	padding-bottom: 20px;
}