/* I hate css */
clearfix:before, .container:after { content: ""; display: table; }
.clearfix:after { clear: both; }
 
/* IE 6/7 */
.clearfix { zoom: 1; }

html {
	background-color: #EBEBEBFF;
	font-family: Helvetica, Arial, sans-serif;
	color: #3F3F3F;
}

.vid-item {
    text-align: center;
    width: 200px;
    display: -moz-inline-stack;
    display: inline-block;
    vertical-align: top;
    margin: 1.5%;
    padding: 0.2%;
    zoom: 1;
    *display: inline;
    border-radius: 5px;
    transition-duration: 0.5s;
  	transition-timing-function: ease-out;
}
.vid-item:hover {
	box-shadow: 0px 0px 10px #797979;
}

a, a:visited, a:hover, a:active {
	color: #3F3F3F;
	text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
	text-decoration: bold;
	color: #1D1D1D;
}